html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.42857143;
    color: white;

    letter-spacing: normal;
    vertical-align: 12px;
}



.div {
    display: block;
}

* {
    box-sizing: border-box;
}

a {
    color: #e60012;
    text-decoration: none;
}

 element.style {
    width: 128px;
    height: 32px;
    position: absolute;
    margin: 0px;
    top: 2px;
    left: 0px;
    float: left;
}

.navbar-brand svg {
    width: 128px;
    height: 32px;
}

img {
    border: 0;
    vertical-align: middle;
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.main-navbar-wrapper.nrd8 .navbar-default.navbar-static-top {
    background-color: #e60012;
}

.main-navbar-wrapper nav.navbar {
    padding: 0;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

.navbar.navbar-default {
    border-color: #bf0010;
    background-color: #bf0010;
    margin: 0;
    padding: 0;
}

.mosaic-item .thumbnail {
    border: none;
    margin-bottom: 0;
    position: relative;
    padding: 0;
    transition: none;
    border-radius: 0;
    background-color: transparent;
}

.thumbnail {
    display: block;
}

.navbar {
    position: relative;
    min-height: 70px;
    border: solid;
}

.navbar-brand {
    float: left;
    font-size: 20px;
    height: 32px;
    line-height: 22px;
    padding: 0px;
}

.nav-items-right>* {
    float: right;
    margin-left: 5px;
}

svg:not(:root), symbol, image, marker, pattern, foreignObject {
    overflow: hidden;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

#sidebar-wrapper {
    background: #fff;
    border-color: #e7e7e7;
    border-right: 1px solid #e7e7e7;
    left: 312px;
    margin-left: -350px;
    overflow: hidden;
    position: fixed;
}

.sidebar-nav li {
    line-height: 20px;
    text-indent: -20px;
    text-align: center;
     
}

.sidebar-nav li span {
    height: 48px;
    position: relative;
    vertical-align: middle;
    line-height: 10px;
    margin-right: 1px;
    width: 48px;
}

#sidebar-wrapper.newSideWrapper.sidebar-nav li span.mainN {
    left: 3px;
    display: block;
}

#mainNav_switch {
    height: 88px;
    width: 88px;
    margin: 0 0 1px -1px;
    background: #e60012;
}

#mainNav_nintendolabo {
    height: 88px;
    width: 88px;
    margin: 0 0 1px -1px;
    background: #e60012;
    transition: background-color .1s ease-in-out 0s;
}

#mainNav_nintendo3ds {
    height: 88px;
    width: 88px;
    margin: 0 0 1px -1px;
    background: #e60012;
    transition: background-color .1s ease-in-out 0s;
}

#mainNav_amiibo {
    height: 88px;
    width: 88px;
    margin: 0 0 1px -1px;
    background: #e60012;
    transition: background-color .1s ease-in-out 0s;
}

#mainNav_store {
    height: 88px;
    width: 88px;
    margin: 0 0 1px -1px;
    background: #e60012;
    transition: background-color .1s ease-in-out 0s;
}

#mainNav_news {
    height: 88px;
    width: 88px;
    margin: 0 0 1px -1px;
    background: #e60012;
    transition: background-color .1s ease-in-out 0s;
}



#mainNav_support {
    height: 88px;
    width: 88px;
    margin: 0 0 1px -1px;
    background: #e60012;
    transition: background-color .1s ease-in-out 0s;
}

#mainNav_games {
    height: 88px;
    width: 88px;
    margin: 0 0 1px -1px;
    background: #e60012;
    transition: background-color .1s ease-in-out 0s;
}

#mainNav_share {
    height: 88px;
    width: 88px;
    margin: 0 0 1px -1px;
    background: #e60012;
    transition: background-color .1s ease-in-out 0s;
}

#mainNav_more {
    height: 88px;
    width: 88px;
    margin: 0 0 1px -1px;
    background: #e60012;
    transition: background-color .1s ease-in-out 0s;
}

.mosaic-item, .section-header, .section-header-small, .date, .pageheader h1, .latest-news-more-news-link a span, .latest-news-more-news a span, .main-navbar-wrapper, .news-article,
.news-detail-headline, .share-button, .media.txt-top-img .media-body-image-text h2, .media.txt-top-img .media-body.image-text a {
    font-family: "proxima-nova","Source Sans Pro",Helvetica,Arial,sans-serif;
    letter-spacing: .6px;
}

.alps-account-nav {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-weight: normal;
    line-height: 1.8em;
    font-family: "Helvetica Neue",Helvetica,Arial,Roboto,"Droid Sans","メイリオ",Meiryo,"ＭＳ Ｐゴシック","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic ProN",sans-serif;
    position: relative;
    z-index: 10100;
}

.alps-account-nav .alps-account-button .alps-account-mii-icon {
    position: relative;
    background-size: 36px 36px;
    overflow: hidden;
}

#sidebar-wrapper.newSideWrapper .sidebar-nav li .subMenuContainer {
    position: relative;
    top: 50%;
}

.srch8 .navbar-static-top .row.navbar-inner-header {
    padding: 20px 19px 19px 25px;
}

.navbar-static-top .row.navbar-inner-header {
    height: 72px;
    max-width: 1900px;
}

.row {
    margin-left: -5px;
    margin-right: -5px;
}

